@model IEnumerable<AppVendasWeb.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.CategoriaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
            </td>
            <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> |
                    <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.ProdutoId">Detailhes</a> |
                    <a class="btn btn-outline-warning" asp-action="Delete" asp-route-id="@item.ProdutoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
